* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8fcff;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #7e939a;
  color: white;
  padding: 15px 30px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: #3aa7d7;
}

.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.search-login {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.search-login input {
  padding: 5px;
}

.search-login button {
  background: #004c70;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.search-login a {
  color: white;
  text-decoration: none;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 30px;
  background: linear-gradient(to top, #e7f3fb 80%, #fff 20%);
  flex-wrap: wrap;
  align-items: center;
}

.hero-content {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.apply-btn {
  padding: 12px 24px;
  background: green;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-actions {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

  
