* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
  background-color: rgb(49, 46, 46);
  font-family: Arial, sans-serif;
}

.logo-section {
  display: flex;
  align-items: center;
  
}

.logo {
  border: #d7cccc;
  /* border-style: solid; */
  width: 100px;
  height: auto;
  margin-right: 0.5rem;
}

.brand-name {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
  font-weight: bold;
}
.name-color{
  color:#ccc;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rebeccapurple;
}

.nav-links .active {
  color: rebeccapurple;
  font-weight: bold;
}

.dropdown .arrow {
  font-size: 0.7rem;
  margin-left: 4px;
}

.search-icon {
  font-size: 1.2rem;
  cursor: pointer;
}